div, input, label {
  font-family: "Open Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  text-align: center;
  display: inline-block;
  border-radius: 1vw;
  background-color: #af2d13;
  box-sizing: border-box;
  box-shadow: 0.5vw 0.5vw 0 0 #752b42;
  padding: 1.5vw 3.0vw;
  line-height: 1em;
  color: #ffffff;
  font-size: 2vw;
  font-weight: normal;
  cursor: pointer;
}

#container .kirby_content {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 25%;
  height: auto;
  animation: kirbymove .25s ease-in-out infinite;
}

#container .kirby_content .sweat {
  width: 4%;
  height: 18%;
  position: absolute;
  background: #A2EDF7;
  z-index: 100;
  border: 1px solid #A2EDF7;
  border-radius: 72% 28% 100% 0% / 100% 16% 84% 0%;
  top: -13%;
  left: 10%;
  transform: rotate(-35deg);
}

#container .kirby_content .sweat:nth-child(2) {
  top: -10%;
  left: 0%;
  transform: rotate(-55deg);
}

#container .kirby_content .sweat:nth-child(3) {
  top: -5%;
  left: -10%;
  transform: rotate(-75deg);
}

#container .kirby_content .kirby_inner {
  background: linear-gradient(135deg, #ff9db5 70%, #d77584);
  border-radius: 50%;
  width: 100%;
  padding: 100% 0 0;
  box-shadow: 0 0 0 0.2vw black;
}

#container .kirby_content .kirby_inner .eye, #container .kirby_content .kirby_inner .mouth, #container .kirby_content .kirby_inner .cheek, #container .kirby_content .kirby_inner .hand, #container .kirby_content .kirby_inner foot {
  position: absolute;
}

#container .kirby_content .kirby_inner .eye {
  width: 10%;
  padding: 30% 0 0;
  background: #000000;
  border-radius: 44%;
  top: 15%;
  left: 34%;
}

#container .kirby_content .kirby_inner .eye:after, #container .kirby_content .kirby_inner .eye:before {
  content: "";
}

#container .kirby_content .kirby_inner .eye:before {
  background-color: #ffffff;
  position: absolute;
  width: 60%;
  height: 45%;
  border-radius: 44%;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#container .kirby_content .kirby_inner .eye.two {
  left: 65%;
}

#container .kirby_content .kirby_inner .eye .dark {
  position: absolute;
  width: 59%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#container .kirby_content .kirby_inner .eye .dark:before, #container .kirby_content .kirby_inner .eye .dark:after {
  content: "";
}

#container .kirby_content .kirby_inner .eye .dark:before {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 38%;
  border-radius: 44%;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#container .kirby_content .kirby_inner .eye .dark:after {
  background-color: #4b4796;
  position: absolute;
  width: 100%;
  height: 50%;
  border-radius: 44%;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

#container .kirby_content .kirby_inner .mouth {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translateX(-50%);
  height: 15%;
  width: 12%;
  border-radius: 42% 40% 37% 40% / 42% 40% 43% 49%;
  background: #752b42;
  animation: mouthmove 1s ease-in-out infinite alternate;
}

#container .kirby_content .kirby_inner .mouth:after {
  content: "";
  width: 100%;
  height: 100%;
  padding: 0% 0 0 0;
  position: absolute;
  background: white;
  filter: blur(2vw);
  will-change: filter;
  z-index: 500;
  border-radius: 60% 50% 50% 30% / 20% 30% 30% 50%;
  right: -60%;
  bottom: 0%;
  opacity: 0;
  animation: 1s linear infinite mokumoku 1s;
}

#container .kirby_content .kirby_inner .mouth:before {
  content: "";
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%;
  border-radius: 42% 40% 37% 40% / 42% 40% 43% 49%;
  background: #f0608b;
  display: block;
  position: absolute;
}

#container .kirby_content .kirby_inner .cheek {
  background-color: #f0608b;
  position: absolute;
  top: 50%;
  left: 16%;
  filter: blur(0.1vw);
  width: 20%;
  height: 10%;
  border-radius: 50%;
  transform: rotate(-10deg);
  z-index: 3;
}

#container .kirby_content .kirby_inner .cheek.two {
  left: auto;
  right: 5%;
  transform: rotate(10deg);
}

#container .kirby_content .kirby_inner .hand {
  position: absolute;
  top: 9%;
  left: -9%;
  background: linear-gradient(-155deg, #ff9db5 70%, #d77584);
  border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  width: 30%;
  padding: 30% 0 0;
  box-shadow: 0 0 0 0.2vw #000000;
  transform: rotate(20deg);
  /*animation: handmove 1s ease-in-out infinite alternate;*/
}

#container .kirby_content .kirby_inner .hand:after {
  content: "";
  background: #ff9db5;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -20%;
  transform: rotate(-3deg);
}

#container .kirby_content .kirby_inner .hand.two {
  top: 7%;
  left: auto;
  right: -8%;
  background: linear-gradient(-35deg, #ff9db5 60%, #d77584);
  transform: rotate(135deg);
  box-shadow: 0 0 0 0.2vw #000000;
  z-index: -1;
  /*animation: handmove2 1s ease-in-out infinite alternate;*/
}

#container .kirby_content .kirby_inner .hand.two:after {
  content: "";
  right: -20%;
  transform: rotate(11deg);
}

#container .kirby_content [class*='foot'] {
  width: 50%;
  height: 35%;
  position: absolute;
  background: #af2d13;
  border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
  z-index: -1;
  box-shadow: inset 0.5vw -1vw 0.2vw 0 #752b42, 0 0 0 0.2vw #000000;
}

#container .kirby_content .foot-right {
  bottom: -4%;
  left: -15%;
  transform: rotate(70deg);
  animation: foot-mov .1s ease-in-out infinite;
}

#container .kirby_content .foot-center {
  right: 15%;
  bottom: -18%;
  transform: rotate(20deg);
  animation: foot-mov-2 .1s ease-in-out infinite;
}

#container .kirby_content .foot-left {
  right: -25%;
  bottom: 20%;
  transform: rotate(-45deg);
  animation: foot-mov-3 .1s ease-in-out infinite;
}

@keyframes foot-mov {
  0% {
    bottom: -4%;
    left: -15%;
    ransform: rotate(70deg);
  }
  50% {
    bottom: 25%;
    left: -29%;
    transform: rotate(90deg);
  }
  100% {
    bottom: -4%;
    left: -15%;
    ransform: rotate(70deg);
  }
}

@keyframes foot-mov-2 {
  0% {
    right: 15%;
    bottom: -18%;
    transform: rotate(20deg);
  }
  50% {
    right: 45%;
    bottom: -18%;
    transform: rotate(48deg);
  }
  100% {
    right: 15%;
    bottom: -18%;
    transform: rotate(20deg);
  }
}

@keyframes foot-mov-3 {
  0% {
    right: -25%;
    bottom: 20%;
    transform: rotate(-45deg);
  }
  50% {
    right: -19%;
    bottom: -3%;
    transform: rotate(-32deg);
  }
  100% {
    right: -25%;
    bottom: 20%;
    transform: rotate(-45deg);
  }
}

@keyframes kirbymove {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  50% {
    transform: translateX(-48%) translateY(-50%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes mokumoku {
  0% {
    opacity: 0;
    top: 0;
  }
  10% {
    opacity: 1;
    top: 0%;
  }
  75% {
    opacity: 1;
    top: -50%;
  }
  100% {
    opacity: 0;
    top: -50%;
  }
}

@keyframes mouthmove {
  0% {
    transform: scale(1);
    left: 50%;
  }
  50% {
    transform: scale(1.1);
    left: 50%;
  }
  100% {
    transform: scale(1);
    left: 50%;
  }
}

@keyframes handmove {}@keyframes handmove2 {}@media screen and (max-width: 768px) {
  #container .kirby_content {
    width: 50%;
  }
}
