/**
* color
**/
$red: #af2d13;
$dark_red_two: #752b42;
$white: #ffffff;
$black: #000000;
$pink: #ff9db5;
$dark_pink: #d77584;
$dark_pink_two: #f0608b;
$blue: #4b4796;
$dark_blue: #2b3e5a;
/**
* breakpoints
**/
$breakpoints: (
    'sm': 'screen and (max-width: 400px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 1000px)',
    'xl': 'screen and (max-width: 1200px)',
) !default;
/**
* mixin
**/
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
@mixin eye_before {
    top: 3%;
    background-color: #ffffff;
    width: 60%;
    height: 45%
}
@mixin eye_after {
    top: 60%;
    background-color: black;
    width: 200%;
    height: 2%;
}
@mixin eye_inner_before {
    background: black;
}
@mixin eye_inner_after {
    background: transparent;
}
@mixin pseudos () {
    content: "";
}
@mixin d-none () {
    display: none;
}

#container {
    .kirby_content {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        width: 25%;
        height: auto;
        animation: kirbymove .25s ease-in-out infinite;
        .sweat {
            width: 4%;
            height: 18%;
            position: absolute;
            background: #A2EDF7;
            z-index: 100;
            border: 1px solid #A2EDF7;
            border-radius: 72% 28% 100% 0% / 100% 16% 84% 0%;
            top: -13%;
            left: 10%;
            animation: sweat 1s ease-in-out infinite;
            transform: rotate(-35deg);
            &:nth-child(2) {
              top: -10%;
              left: 0%;
              transform: rotate(-55deg);
              animation: sweat2 1s ease-in-out infinite;
            }
            &:nth-child(3) {
              top: -5%;
              left: -10%;
              transform: rotate(-75deg);
              animation: sweat3 1s ease-in-out infinite;
            }
        }
        .kirby_inner {
            background: linear-gradient(135deg, $pink 70%, $dark_pink);
            border-radius: 50%;
            width: 100%;
            padding: 100% 0 0;
            box-shadow: 0 0 0 0.2vw $black;
            .eye, .mouth, .cheek, .hand, foot {
                position: absolute;
            }
            .eye {
                width: 10%;
                padding: 30% 0 0;
                background: $black;
                border-radius: 44%;
                top: 15%;
                left: 34%;
                animation: eye 5s ease-out infinite;
                &:after, &:before {
                    @include pseudos;
                }
                &:before {
                    background-color: $white;
                    position: absolute;
                    width: 60%;
                    height: 45%;
                    border-radius: 44%;
                    top: 3%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                    animation: eye-before 5s ease-out infinite;
                }
                &.two {
                    left: 65%;
                }
                .dark {
                    position: absolute;
                    width: 59%;
                    height: 100%;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    &:before, &:after {
                        @include pseudos;
                    }
                    &:before {
                        background-color: black;
                        position: absolute;
                        width: 100%;
                        height: 38%;
                        border-radius: 44%;
                        top: 47%;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                    }
                    &:after {
                        background-color: $blue;
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        border-radius: 44%;
                        bottom: 3%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            .mouth {
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 50;
                transform: translateX(-50%);
                height: 15%;
                width: 12%;
                border-radius: 42% 40% 37% 40% / 42% 40% 43% 49% ;
                background: #752b42;
                animation: mouthmove 1s ease-in-out infinite alternate;
                &:after {
                  @include pseudos;
                  width: 100%;
                  height: 100%;
                  padding: 0% 0 0 0;
                  position: absolute;
                  background: white;
                  filter: blur(2vw);
                  will-change: filter;
                  z-index: 500;
                  border-radius: 60% 50% 50% 30% / 20% 30% 30% 50%;
                  right: -60%;
                  bottom: 0%;
                  opacity: 0;
                  animation: 1s linear infinite mokumoku 1s;
                }
                &:before {
                    @include pseudos;
                    bottom: 3%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50%;
                    height: 50%;
                    border-radius: 42% 40% 37% 40% / 42% 40% 43% 49%;
                    background: #f0608b;
                    display: block;
                    position: absolute;
                }
            }
            .cheek {
                background-color: $dark_pink_two;
                position: absolute;
                top: 50%;
                left:16%;
                filter: blur(0.1vw);
                width: 20%;
                height: 10%;
                border-radius: 50%;
                transform: rotate(-10deg);
                z-index: 3;
                &.two {
                    left: auto;
                    right: 5%;
                    transform: rotate(10deg);
                }
            }
            .hand {
                position: absolute;
                top: 9%;
                left: -9%;
                background: linear-gradient(-155deg, #ff9db5 70%, #d77584);
                border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
                width: 30%;
                padding: 30% 0 0;
                box-shadow: 0 0 0 0.2vw #000000;
                transform: rotate( 20deg);
                &:after {
                    @include pseudos;
                    background: $pink;
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: -20%;
                    transform: rotate(-3deg);
                }
                &.two {
                    top: 7%;
                    left: auto;
                    right: -8%;
                    background: linear-gradient(-35deg, #ff9db5 60%, #d77584);
                    transform: rotate(135deg);
                    box-shadow: 0 0 0 0.2vw #000000;
                    z-index: -1;
                    &:after {
                        @include pseudos;
                        right: -20%;
                        transform: rotate(11deg);
                    }
                }
            }
        }
        [class*='foot']{
            width: 50%;
            height: 35%;
            position: absolute;
            background: #af2d13;
            border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
            z-index: -1;
            box-shadow: inset 0.5vw -1vw 0.2vw 0 #752b42, 0 0 0 0.2vw #000000;
            }
        .foot {
            &-right {
                bottom: -4%;
                left: -15%;
                transform: rotate(70deg);
                animation: foot-mov .1s ease-in-out infinite;
            }
            &-center {
                right: 15%;
                bottom: -18%;
                transform: rotate(20deg);
                animation: foot-mov-2 .1s ease-in-out infinite;
            }
            &-left {
                right: -25%;
                bottom: 20%;
                transform: rotate(-45deg);
                animation: foot-mov-3 .1s ease-in-out infinite;
            }
        } 
    }
}

@keyframes foot-mov{ 0%{ bottom: -4%; left: -15%; ransform: rotate(70deg); } 50%{ bottom: 25%; left: -29%; transform: rotate(90deg); } 100%{ bottom: -4%; left: -15%; ransform: rotate(70deg); } }
@keyframes foot-mov-2{ 0%{ right: 15%; bottom: -18%; transform: rotate(20deg); } 50%{ right: 45%; bottom: -18%; transform: rotate(48deg); } 100%{ right: 15%; bottom: -18%; transform: rotate(20deg); } }
@keyframes foot-mov-3{ 0%{ right: -25%; bottom: 20%; transform: rotate(-45deg); } 50%{ right: -19%; bottom: -3%; transform: rotate(-32deg); } 100%{ right: -25%; bottom: 20%; transform: rotate(-45deg); } }
@keyframes kirbymove{ 0%{ transform: translateX(-50%) translateY(-50%); } 50%{ transform: translateX(-48%) translateY(-50%); } 100%{ transform: translateX(-50%) translateY(-50%); } }
@keyframes mokumoku { 0% { opacity: 0; top: 0;} 10% { opacity: 1; top: 0%;} 75% { opacity: 1; top: -50%;} 100% { opacity: 0; top: -50%;} }
@keyframes sweat { 0% { opacity: 0; top: -13;} 10% { opacity: 1; top: -13%;} 75% { opacity: 1; top: -17%;} 100% { opacity: 0; top: -17%;} }
@keyframes sweat2 { 0% { opacity: 0; top: -10;} 10% { opacity: 1; top: -10%;} 75% { opacity: 1; top: -14%;} 100% { opacity: 0; top: -14%;} }
@keyframes sweat3 { 0% { opacity: 0; top: -5;} 10% { opacity: 1; top: -5%;} 75% { opacity: 1; top: -9%;} 100% { opacity: 0; top: -9%;} }
@keyframes mouthmove { 0%{ transform: scale(1); left: 50%; } 50%{ transform: scale(1.1); left: 50%; } 100%{ transform: scale(1); left: 50%; } }
@keyframes eye{
  0%{ @include eye_inner_before; } 51%{ @include eye_inner_before; } 51.5%{ @include eye_inner_after; } 52%{ @include eye_inner_before; } 52.5%{ @include eye_inner_after; } 53%{ @include eye_inner_before; } 98%{ @include eye_inner_before; } 98.5% { @include eye_inner_after; } 99%{ @include eye_inner_before; } 99.5%{ @include eye_inner_after; } 100%{ @include eye_inner_before; }
}
@keyframes eye-before{
  0%{ @include eye_before; } 51%{ @include eye_before; } 51.5%{ @include eye_after; } 52%{ @include eye_before; } 52.5%{ @include eye_after; } 53%{ @include eye_before; } 98%{ @include eye_before; } 98.5%{ @include eye_after; } 99%{ @include eye_before; } 99.5%{ @include eye_after; } 100%{ @include eye_before; }
}
@include mq {
    #container {
        .kirby_content {
            width: 50%;
        }
    }
}